@model ImageBlock

<section class="location-section">
    <div class="container">
        <h2 class="h2">
            <sc-text asp-for="Title" />
        </h2>
        <section class="image-with-text image-with-text--without-text">
            <div class="img-responsive">
                <sc-img asp-for="Image" />
            </div>
        </section>
    </div>
</section>
