@model InstagramSlider

<section class="social-gallery-section">
    <div class="container">
        <div class="social-gallery">
            <div class="swiper-container" id="social-gallery-swiper">
                <div class="social-gallery__content swiper-wrapper">
                    @if (Model?.Links != null && Model.Links.Any())
                    {
                        @foreach (var imageLink in Model.Links)
                        {
                            <div class="swiper-slide img-wrapper-stretch">
                                <img src="@imageLink" alt="@Model.AltText?.Value" />
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="social-gallery__caption">
                <h3 class="h3">
                    <sc-text asp-for="Headline" />
                </h3>
                <p class="paragraph-plain">
                    <sc-text asp-for="CopyText" />
                </p>
                <div class="social-gallery__controls">
                    <button class="accent-active-item main-btn social-gallery__slider-btn prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                            <g id="Icon/navigation/chevron-right"
                               fill-rule="evenodd"
                               stroke="none"
                               stroke-width="1">
                                <path id="Path"
                                      d="M9 9l3.26-3L25 18 12.26 30 9 27l9.6-9z"
                                      transform="matrix(-1 0 0 1 34 0)" />
                            </g>
                        </svg>
                    </button>
                    <button class="accent-active-item main-btn social-gallery__slider-btn next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                            <g id="Icon/navigation/chevron-left"
                               fill-rule="evenodd"
                               stroke="none"
                               stroke-width="1">
                                <path id="Path" d="M11 9l3.26-3L27 18 14.26 30 11 27l9.6-9z" />
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>