<section class="techtalk bg-black">
  <div class="container">
    <h2 class="h2 text-white">Techtalk</h2>
    <div class="techtalk__slider">
      <div class="techtalk__slider-content swiper-container" id="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="img-responsive">
              <img
                src="../../assets/images/placeholders/placeholder.jpg"
                alt="Blogpost slider placeholder"
              />
            </div>
            <div class="techtalk__blogpost-content">
              <div class="blog-preferences__blogpost-tags">
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
              </div>
              <a href="#" class="blog-preferences__blogpost-headline"
                ><h2 class="h2">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                </h2></a
              >
              <p class="blog-preferences__blogpost-preview">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut.
              </p>
              <p class="blog-preferences__meta-data">
                00. September 2020 - Autor Name
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img-responsive">
              <img
                src="../../assets/images/placeholders/placeholder.jpg"
                alt="Blogpost slider placeholder"
              />
            </div>
            <div class="techtalk__blogpost-content">
              <div class="blog-preferences__blogpost-tags">
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
              </div>
              <a href="#" class="blog-preferences__blogpost-headline"
                ><h2 class="h2">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                </h2></a
              >
              <p class="blog-preferences__blogpost-preview">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut.
              </p>
              <p class="blog-preferences__meta-data">
                00. September 2020 - Autor Name
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="img-responsive">
              <img
                src="../../assets/images/placeholders/placeholder.jpg"
                alt="Blogpost slider placeholder"
              />
            </div>
            <div class="techtalk__blogpost-content">
              <div class="blog-preferences__blogpost-tags">
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
              </div>
              <a href="#" class="blog-preferences__blogpost-headline"
                ><h2 class="h2">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                </h2></a
              >
              <p class="blog-preferences__blogpost-preview">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut.
              </p>
              <p class="blog-preferences__meta-data">
                00. September 2020 - Autor Name
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="techtalk__slider-controls">
        <button
          class="techtalk__slider-btn main-btn prev accent-active-item"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
            <g
              id="Icon/navigation/chevron-right"
              fill-rule="evenodd"
              stroke="none"
              stroke-width="1"
            >
              <path
                id="Path"
                d="M9 9l3.26-3L25 18 12.26 30 9 27l9.6-9z"
                transform="matrix(-1 0 0 1 34 0)"
              />
            </g>
          </svg>
        </button>
        <button
          class="techtalk__slider-btn main-btn next accent-active-item"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
            <g
              id="Icon/navigation/chevron-left"
              fill-rule="evenodd"
              stroke="none"
              stroke-width="1"
            >
              <path
                id="Path"
                d="M11 9l3.26-3L27 18 14.26 30 11 27l9.6-9z"
              />
            </g>
          </svg>
        </button>
      </div>
    </div>
    <a href="/" class="techtalk__cta app-inline-link app-inline-link--white">Alle Techtalk Beiträge</a>
  </div>
</section>