<section class="cube-module">
  <div class="container">
    <div class="cube-module__block cube-module__block--lg">
      <span class="cube-module__block-title"
        >Deutschland Österreich und Schweiz</span
      >
      <span class="cube-module__block-text">sind unsere Märkte</span>
    </div>
    <div class="cube-module__left-bar">
      <div class="cube-module__block cube-module__block--s">
        <span class="cube-module__block-title"
          > 2001</span
        >
        <span class="cube-module__block-text">in Darmstadt gegründet</span>
      </div>
      <div class="cube-module__block cube-module__block--m">
        <span class="cube-module__block-title"
          >Bauchladen</span
        >
        <span class="cube-module__block-text">aus Prinzip</span>
      </div>
      <div class="cube-module__block cube-module__block--s">
        <span class="cube-module__block-title"
          >Top 30</span
        >
        <span class="cube-module__block-text">im deutschen Agenturranking</span>
      </div>
      <div class="cube-module__block cube-module__block--s">
        <span class="cube-module__block-title"
          >2001</span
        >
        <span class="cube-module__block-text">in Darmstadt gegründet</span>
      </div>
      <div class="cube-module__block cube-module__block--s">
        <span class="cube-module__block-title"
          >Top 30</span
        >
        <span class="cube-module__block-text">im deutschen Agenturranking</span>
      </div>
    </div>
  </div>
</section>
