@model OpenJobs

<section class="jobs">
    <div class="container">
        <h2 class="h2 h2--lighter">
            @if (this.SitecoreContext().IsEditing)
            {
                <sc-text asp-for="Headline" />
            }
            else
            {
                @Html.Raw(Model?.Headline?.Value)
            }
        </h2>
        <div class="jobs__list">
            @if (Model?.JobDetails != null && Model.JobDetails.Any())
            {
                foreach (var job in Model.JobDetails.Take(6))
                {
                    <a href="@job?.Url" class="jobs__list-link job-link">
                        <div class="jobs__link-data">
                            <span class="job-link__title">
                                <sc-text asp-for="@job.Fields.Title" />
                            </span>
                            <p class="paragraph-plain paragraph-plain--xs">
                                @{
                                    var locations = job?.Fields?.Locations?.Select(l => l.Fields?.Title.Value);

                                    if (locations != null)
                                    {
                                        @string.Join(" | ", locations)
                                    }
                                }
                            </p>
                        </div>
                        <div class="jobs__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                                <g id="Icon/navigation/chevron-left"
                                   fill-rule="evenodd"
                                   stroke="none"
                                   stroke-width="1">
                                    <path id="Path" d="M11 9l3.26-3L27 18 14.26 30 11 27l9.6-9z" />
                                </g>
                            </svg>
                        </div>
                    </a>
                }
            }
        </div>
        <sc-link class="jobs__cta main-btn main-btn--black" asp-for="Link" />
    </div>
</section>