<section class="post-suggestions">
  <div class="container">
    <h2 class="h2">Display 3</h2>
    <div class="post-suggestions__list">
      <div class="blogpost-suggestion-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blogpost-suggestion-item__blogpost-item-data">
          <div class="blogpost-suggestion-item__blogpost-tags">
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
          </div>
          <a href="#" class="blogpost-suggestion-item__blogpost-headline"
            ><h4 class="h4">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h4></a
          >
          <p class="blogpost-suggestion-item__meta-data">
            00. September 2020 - Autor Name
          </p>
          <button class="main-btn main-btn--black">Mehr erfahren</button>
        </div>
      </div>

      <div class="blogpost-suggestion-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blogpost-suggestion-item__blogpost-item-data">
          <div class="blogpost-suggestion-item__blogpost-tags">
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
          </div>
          <a href="#" class="blogpost-suggestion-item__blogpost-headline"
            ><h4 class="h4">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h4></a
          >
          <p class="blogpost-suggestion-item__meta-data">
            00. September 2020 - Autor Name
          </p>
          <button class="main-btn main-btn--black">Mehr erfahren</button>
        </div>
      </div>

      <div class="blogpost-suggestion-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blogpost-suggestion-item__blogpost-item-data">
          <div class="blogpost-suggestion-item__blogpost-tags">
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
          </div>
          <a href="#" class="blogpost-suggestion-item__blogpost-headline"
            ><h4 class="h4">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h4></a
          >
          <p class="blogpost-suggestion-item__meta-data">
            00. September 2020 - Autor Name
          </p>
          <button class="main-btn main-btn--black">Mehr erfahren</button>
        </div>
      </div>

      <div class="blogpost-suggestion-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blogpost-suggestion-item__blogpost-item-data">
          <div class="blogpost-suggestion-item__blogpost-tags">
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
          </div>
          <a href="#" class="blogpost-suggestion-item__blogpost-headline"
            ><h4 class="h4">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h4></a
          >
          <p class="blogpost-suggestion-item__meta-data">
            00. September 2020 - Autor Name
          </p>
          <button class="main-btn main-btn--black">Mehr erfahren</button>
        </div>
      </div>

      <div class="blogpost-suggestion-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blogpost-suggestion-item__blogpost-item-data">
          <div class="blogpost-suggestion-item__blogpost-tags">
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
          </div>
          <a href="#" class="blogpost-suggestion-item__blogpost-headline"
            ><h4 class="h4">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h4></a
          >
          <p class="blogpost-suggestion-item__meta-data">
            00. September 2020 - Autor Name
          </p>
          <button class="main-btn main-btn--black">Mehr erfahren</button>
        </div>
      </div>

      <div class="blogpost-suggestion-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blogpost-suggestion-item__blogpost-item-data">
          <div class="blogpost-suggestion-item__blogpost-tags">
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
          </div>
          <a href="#" class="blogpost-suggestion-item__blogpost-headline"
            ><h4 class="h4">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h4></a
          >
          <p class="blogpost-suggestion-item__meta-data">
            00. September 2020 - Autor Name
          </p>
          <button class="main-btn main-btn--black">Mehr erfahren</button>
        </div>
      </div>

      <div class="blogpost-suggestion-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blogpost-suggestion-item__blogpost-item-data">
          <div class="blogpost-suggestion-item__blogpost-tags">
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
          </div>
          <a href="#" class="blogpost-suggestion-item__blogpost-headline"
            ><h4 class="h4">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h4></a
          >
          <p class="blogpost-suggestion-item__meta-data">
            00. September 2020 - Autor Name
          </p>
          <button class="main-btn main-btn--black">Mehr erfahren</button>
        </div>
      </div>

      <div class="blogpost-suggestion-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blogpost-suggestion-item__blogpost-item-data">
          <div class="blogpost-suggestion-item__blogpost-tags">
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
          </div>
          <a href="#" class="blogpost-suggestion-item__blogpost-headline"
            ><h4 class="h4">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h4></a
          >
          <p class="blogpost-suggestion-item__meta-data">
            00. September 2020 - Autor Name
          </p>
          <button class="main-btn main-btn--black">Mehr erfahren</button>
        </div>
      </div>
      <div class="blogpost-suggestion-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blogpost-suggestion-item__blogpost-item-data">
          <div class="blogpost-suggestion-item__blogpost-tags">
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
            <a href="" class="blogpost-suggestion-item__blogpost-tag"
              >#hashtag</a
            >
          </div>
          <a href="#" class="blogpost-suggestion-item__blogpost-headline"
            ><h4 class="h4">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h4></a
          >
          <p class="blogpost-suggestion-item__meta-data">
            00. September 2020 - Autor Name
          </p>
          <button class="main-btn main-btn--black">Mehr erfahren</button>
        </div>
      </div>
    </div>
    <button   class="post-suggestions__cta app-inline-link show-more-btn">Alle Techtalk Beiträge</a>
  </div>
</section>
