<section class="jobs">
  <div class="container">
    <h2 class="h2 h2--lighter">Unser</h2>
    <h2 class="h2 h2--bold">Top-Jobs</h2>
    <div class="jobs__list">
      <a href="#" class="jobs__list-link job-link">
        <div class="jobs__link-data">
          <span class="job-link__title">Account Director (M/W/D)</span>
          <p class="paragraph-plain paragraph-plain--xs">
            Berlin l Darmstadt l Heilbronn l München
          </p>
        </div>
        <div class="jobs__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
            <g
              id="Icon/navigation/chevron-left"
              fill-rule="evenodd"
              stroke="none"
              stroke-width="1"
            >
              <path id="Path" d="M11 9l3.26-3L27 18 14.26 30 11 27l9.6-9z" />
            </g>
          </svg>
        </div>
      </a>
      <a href="#" class="jobs__list-link job-link">
        <div class="jobs__link-data">
          <span class="job-link__title">Account Director (M/W/D)</span>
          <p class="paragraph-plain paragraph-plain--xs">
            Berlin l Darmstadt l Heilbronn l München
          </p>
        </div>
        <div class="jobs__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
            <g
              id="Icon/navigation/chevron-left"
              fill-rule="evenodd"
              stroke="none"
              stroke-width="1"
            >
              <path id="Path" d="M11 9l3.26-3L27 18 14.26 30 11 27l9.6-9z" />
            </g>
          </svg>
        </div>
      </a>
      <a href="#" class="jobs__list-link job-link">
        <div class="jobs__link-data">
          <span class="job-link__title">Account Director (M/W/D)</span>
          <p class="paragraph-plain paragraph-plain--xs">
            Berlin l Darmstadt l Heilbronn l München
          </p>
        </div>
        <div class="jobs__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
            <g
              id="Icon/navigation/chevron-left"
              fill-rule="evenodd"
              stroke="none"
              stroke-width="1"
            >
              <path id="Path" d="M11 9l3.26-3L27 18 14.26 30 11 27l9.6-9z" />
            </g>
          </svg>
        </div>
      </a>
      <a href="#" class="jobs__list-link job-link">
        <div class="jobs__link-data">
          <span class="job-link__title">Account Director (M/W/D)</span>
          <p class="paragraph-plain paragraph-plain--xs">
            Berlin l Darmstadt l Heilbronn l München
          </p>
        </div>
        <div class="jobs__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
            <g
              id="Icon/navigation/chevron-left"
              fill-rule="evenodd"
              stroke="none"
              stroke-width="1"
            >
              <path id="Path" d="M11 9l3.26-3L27 18 14.26 30 11 27l9.6-9z" />
            </g>
          </svg>
        </div>
      </a>
      <a href="#" class="jobs__list-link job-link">
        <div class="jobs__link-data">
          <span class="job-link__title">Account Director (M/W/D)</span>
          <p class="paragraph-plain paragraph-plain--xs">
            Berlin l Darmstadt l Heilbronn l München
          </p>
        </div>
        <div class="jobs__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
            <g
              id="Icon/navigation/chevron-left"
              fill-rule="evenodd"
              stroke="none"
              stroke-width="1"
            >
              <path id="Path" d="M11 9l3.26-3L27 18 14.26 30 11 27l9.6-9z" />
            </g>
          </svg>
        </div>
      </a>
      <a href="#" class="jobs__list-link job-link">
        <div class="jobs__link-data">
          <span class="job-link__title">Account Director (M/W/D)</span>
          <p class="paragraph-plain paragraph-plain--xs">
            Berlin l Darmstadt l Heilbronn l München
          </p>
        </div>
        <div class="jobs__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
            <g
              id="Icon/navigation/chevron-left"
              fill-rule="evenodd"
              stroke="none"
              stroke-width="1"
            >
              <path id="Path" d="M11 9l3.26-3L27 18 14.26 30 11 27l9.6-9z" />
            </g>
          </svg>
        </div>
      </a>
    </div>
    <!-- the  view like a btn   -->
    <a href="#" class="jobs__cta main-btn main-btn--black">Alle Jobs</a>
    <!-- the view like a link -->
    <!-- <a href="#" class="jobs__cta link-cta text-dark">Alle Jobs</a>  -->
  </div>
</section>
