<section class="error-detailed-text">
  <div class="container">
    <div class="error-detailed-text__text">
      <h1 class="h1 text-center">
        Ooops
        <span class="accent-active-item">it’s a 404</span>
      </h1>
      <p class="paragraph-plain text-center">
        Fehler 404: Wir konnten die Seite, nach der Sie gesucht haben, leider
        nicht finden.
      </p>
      <p class="paragraph-plain text-center">
        Vielleicht hilft Ihnen einer unserer Links mit
        <a href="#" class="text-dark text-bold text-underline app-inline-link">Über uns</a>,
        <a href="#" class="text-dark text-bold text-underline app-inline-link">Referenzen</a>
        oder unseren
        <a href="#" class="text-dark text-bold text-underline app-inline-link"
          >Blog-Artikeln
        </a>
        tauchen Sie sofort in die Hackathon-Welt ein!
      </p>
    </div> 
  </div>
</section>
