@import "./variables";

.paragraph-hero-section {
  padding: 240px 0 260px;

  @include media("m") {
    padding: 160px 0 80px; 
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .h1 {
    font-family: "TheSansC2s-3_Light";

    .accent-active-item {
      display: block;
      font-family: "TheSerifE2s-8_Bold";
    }

    margin: 0 0 48px;
  }
}
