@import "./variables";

.text-hero-section {
  padding: 240px 0 260px;

  @include media("m") {
    padding: 240px 0 160px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .h1 {
    font-family: "TheSansC2s-3_Light";

    .accent-active-item {
      display: block;
      font-family: "TheSerifE2s-8_Bold";
    }
  }

  &__text {
    font-family: "TheSerifE2s-8iBoldItalic";
    max-width: 460px;
    text-align: center;
    margin: 48px 0 0;
  }
}
