@import "./variables";

.text-right-module {
  padding-bottom: 26px;
  display: flex;
  justify-content: flex-end;

  p {
    max-width: 380px;
    margin: 0;

    @include media("m") {
      max-width: none;
    }
  }
}
