<section class="team-preview-teaser">
  <div class="container">
    <h2 class="h2">Das Team</h2>
    <div class="team-preview-teaser__list">
      <a href="#" class="team-preview-teaser__list-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder_1_1.jpg"
            alt="user image"
          />
        </div> </a
      ><a href="#" class="team-preview-teaser__list-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder_1_1.jpg"
            alt="user image"
          />
        </div> </a
      ><a href="#" class="team-preview-teaser__list-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder_1_1.jpg"
            alt="user image"
          />
        </div> </a
      ><a href="#" class="team-preview-teaser__list-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder_1_1.jpg"
            alt="user image"
          />
        </div> </a
      ><a href="#" class="team-preview-teaser__list-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder_1_1.jpg"
            alt="user image"
          />
        </div> </a
      ><a href="#" class="team-preview-teaser__list-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder_1_1.jpg"
            alt="user image"
          />
        </div>
      </a>
    </div>
    <a href="#" class="team-preview-teaser__cta link-cta text-dark app-inline-link">Zum Team</a>
  </div>
</section>
