<section class="all-jobs-content">
  <div class="container">
    <div class="all-jobs-content__item">
      <div class="img-responsive">
        <img
          src="../../assets/images/placeholders/placeholder.jpg"
          alt="Blogpost slider placeholder"
        />
      </div>
      <div class="all-jobs-content__item-content">
        <span class="all-jobs-content__item-title text-white">
          Lorem ipsum dolor sit amet consectetur adipiscing elit
        </span>
        <p class="paragraph-plain text-white">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur.
        </p>
      </div>
      <a href="" type="button" class="main-btn">Mehr erfahren</a>
    </div>
  </div>
</section>
