<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				<defaultSolrIndexConfiguration>
					<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="locations_titles" storageType="YES" indexType="TOKENIZED" returnType="stringCollection">
								Hackathon.Feature.Career.ComputedFields.LocationTitleIndexField, Hackathon.Feature.Career
							</field>
						</fields>
					</documentOptions>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>
