<div class="business-segments-animation__slider" id="sliderWrapper">
  <div class="business-segments-animation__content">
    <div class="business-segments-animation__box" data-section="all">
    <div  data-aos="fade-up" data-aos-easing="linear"   data-aos-duration="500">
      <h1 class="h1">Unsere Geschäftsfelder</h1>
        <p class="plain-text">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
          diam nonumy eirmod tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam voluptua. At vero eos et accusam et
          justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
          dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores
          et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
          est Lorem ipsum dolor sit amet.
          <div class="scroll-indicator">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
             width="32" height="32" preserveAspectRatio="xMidYMid meet"
              style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"><defs>
                <clipPath id="__lottie_element_5">
                  <rect width="32" height="32" x="0" y="0"></rect></clipPath>
                </defs><g clip-path="url(#__lottie_element_5)">
                  <g transform="matrix(1,0,0,1,0,0)" opacity="1" style="display: block;">
                    <g opacity="1" transform="matrix(1,0,0,1,16,16)">
                      <path stroke-linecap="butt" stroke-linejoin="miter"
                       fill-opacity="0" stroke-miterlimit="10" stroke="rgb(0,0,0)" 
                       stroke-opacity="1" stroke-width="2"
             d=" M9,5 C9,9.949999809265137 4.949999809265137,14 0,14 C-4.949999809265137,14 -9,9.949999809265137 -9,5 C-9,5 -9,-5 -9,-5 C-9,-9.949999809265137 -4.949999809265137,-14 0,-14 C4.949999809265137,-14 9,-9.949999809265137 9,-5 C9,-5 9,5 9,5z"></path></g>
             <g opacity="1" transform="matrix(1,0,0,1,0,0.6828159093856812)">
               <path  class="scroll-indicator__line"stroke-linecap="round" 
               stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="10"
                stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="2"
                 d=" M16,8 C16,8 16,9.472999572753906 16,10.960000038146973"></path></g>
                </g></g></svg>
          </div>
        </p>
      </div>
    </div>
    <div class="business-segments-animation__box" data-section="consulting">
      <div data-aos="fade-up" data-aos-easing="linear"   data-aos-duration="500">
        <h1 class="h1">Consulting & Innovation</h1>
        <p class="plain-text">Lorem ipsum dolor sit amet .</p>
        <button class="main-btn main-btn--black">Mehr Efrahren</button>
      </div>
    </div>
    <div class="business-segments-animation__box" data-section="data">
      <div data-aos="fade-up"  data-aos-easing="linear"   data-aos-duration="500">
        <h1 class="h1">Data & AI</h1>
        <p class="plain-text">Lorem ipsum dolor sit amet .</p>
        <button class="main-btn main-btn--black">Mehr Efrahren</button>
      </div>
    </div>
    <div class="business-segments-animation__box" data-section="technology">
      <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
        <h1 class="h1">Technology & Platform</h1>
        <p class="plain-text">Lorem ipsum dolor sit amet .</p>
        <button class="main-btn main-btn--black">Mehr Efrahren</button>
      </div>
    </div>
    <div class="business-segments-animation__box" data-section="cloud">
      <div data-aos="fade-up"data-aos-easing="linear"   data-aos-duration="500">
        <h1 class="h1">Transformation & Cloud</h1>
        <p class="plain-text">Lorem ipsum dolor sit amet .</p>
        <button class="main-btn main-btn--black">Mehr Efrahren</button>
      </div>
    </div>
    <div class="business-segments-animation__box" data-section="marketing">
      <div data-aos="fade-up" data-aos-easing="linear"   data-aos-duration="500">
        <h1 class="h1">Marketing & Activation</h1>
        <p class="plain-text">Lorem ipsum dolor sit amet .</p>
        <button class="main-btn main-btn--black">Mehr Efrahren</button>
      </div>
    </div>
    <div class="business-segments-animation__box" data-section="sap">
      <div data-aos="fade-up" data-aos-easing="linear"   data-aos-duration="500">
        <h1 class="h1">SAP Consulting & Development</h1>
        <p class="plain-text">Lorem ipsum dolor sit amet .</p>
        <button class="main-btn main-btn--black">Mehr Efrahren</button>
      </div>
    </div>
  </div>
  <div class="business-segments-animation__sections-circle img-wrapper-stretch">
    <!-- HOTFIX: json was uploaded to lottiefiles to demonstrate animation locally
    to do: change src to ../assets/lottie-animation/_start.json --> 
    <lottie-player
      id="lottieAnimation"
      background="transparent"
      autoplay
      src="https://assets5.lottiefiles.com/packages/lf20_uwjkhsk5.json" 
    ></lottie-player>
    <div id="circleAnimation" class="hidden">
      <img src="../../assets/images/animation-bg.svg" alt="animation background" />
      <div class="sections-circle__wrapper">
        <div
          class="sections-circle__point yellow"
          data-section="consulting"
        ></div>

        <div class="sections-circle__point green" data-section="data"></div>

        <div
          class="sections-circle__point blue"
          data-section="technology"
        ></div>

        <div class="sections-circle__point purple" data-section="cloud"></div>

        <div class="sections-circle__point red" data-section="marketing"></div>

        <div class="sections-circle__point orange" data-section="sap"></div>
        <div class="sections-circle__label" data-section="consulting">
          <div class="sections-circle__label-text yellow">
            Consulting & <br />
            Innovation
          </div>
        </div>

        <div class="sections-circle__label" data-section="data">
          <div class="sections-circle__label-text green">
            Data & <br />
            AI
          </div>
        </div>

        <div class="sections-circle__label" data-section="technology">
          <div class="sections-circle__label-text blue">
            Technology & <br />
            Platform
          </div>
        </div>

        <div class="sections-circle__label" data-section="cloud">
          <div class="sections-circle__label-text purple">
            Transformation & <br />
            Cloud
          </div>
        </div>

        <div class="sections-circle__label" data-section="marketing">
          <div class="sections-circle__label-text red">
            Marketing & <br />
            Activation
          </div>
        </div>

        <div class="sections-circle__label" data-section="sap">
          <div class="sections-circle__label-text orange">
            SAP Consulting & <br />
            Development
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- //slider  -->
 <div class="swiper-container business-segments-swiper" id="business-segments-swiper-id">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="business-segments-swiper__content">
              <h1 class="h1">Unsere Geschäftsfelder</h1>
              <p class="plain-text">
                Neque consequat donec at velit. Imperdiet adipiscing ut id eget. Vitae amet semper diam vulputate ut malesuada amet tristique. Nam ut iaculis maecenas neque ac massa porttitor. Morbi amet at nunc, egestas adipiscing gravida vel quis diam. Cras velit risus nulla donec. 
              </p> 
            </div>
             <!-- HOTFIX: json was uploaded to lottiefiles to demonstrate animation locally
              to do: change src to ../assets/lottie-animation/_start.json --> 
            <lottie-player
            class="business-segments-swiper__animation"
            background="transparent"
            autoplay
            src="https://assets5.lottiefiles.com/packages/lf20_uwjkhsk5.json" 
          ></lottie-player>
          </div>
          <div class="swiper-slide">
            <div class="business-segments-swiper__content">
              <h1 class="h1">Consulting & Innovation</h1>
              <p class="plain-text">Lorem ipsum dolor sit amet .</p>
            </div>
            <div class="img-wrapper-stretch">
              <img src="../../assets/images/01 - Consulting & Innovation.png" alt="Consulting & Innovation section image" />
            </div>
            <button class="main-btn main-btn--black">Mehr Efrahren</button>
          </div>
          <div class="swiper-slide">
            <div class="business-segments-swiper__content">
              <h1 class="h1">Data & AI</h1>
              <p class="plain-text">Lorem ipsum dolor sit amet .</p>
            </div>
            <div class="img-wrapper-stretch">
              <img src="../../assets/images/02 - Data & AI.png" alt="Data & AI section image" />
            </div>  
            <button class="main-btn main-btn--black">Mehr Efrahren</button>
          </div>
          <div class="swiper-slide">
            <div class="business-segments-swiper__content">
              <h1 class="h1">Technology & Platform</h1>
              <p class="plain-text">Lorem ipsum dolor sit amet .</p>
            </div>
            <div class="img-wrapper-stretch">
              <img src="../../assets/images/03 - Technology & Plattform.png" alt="Technology & Plattform section image" />
            </div>
            <button class="main-btn main-btn--black">Mehr Efrahren</button> 
          </div>
          <div class="swiper-slide">
            <div class="business-segments-swiper__content">
              <h1 class="h1">Transformation & Cloud</h1>
              <p class="plain-text">Lorem ipsum dolor sit amet .</p>
            </div>
            <div class="img-wrapper-stretch">
              <img src="../../assets/images/04 - Transformation & Cloud.png" alt="Transformation & Cloud section image" />
            </div> 
            <button class="main-btn main-btn--black">Mehr Efrahren</button>
          </div>
          <div class="swiper-slide">
            <div class="business-segments-swiper__content">
              <h1 class="h1">Marketing & Activation</h1>
              <p class="plain-text">Lorem ipsum dolor sit amet .</p>
            </div>
            <div class="img-wrapper-stretch">
              <img src="../../assets/images//05 - Marketing & Activation.png" alt="Marketing & Activation section image" />
            </div> 
            <button class="main-btn main-btn--black">Mehr Efrahren</button>
          </div>
          <div class="swiper-slide">
            <div class="business-segments-swiper__content">
              <h1 class="h1">SAP Consulting & Development</h1>
              <p class="plain-text">Lorem ipsum dolor sit amet .</p>
            </div>
            <div class="img-wrapper-stretch">
              <img src="../../assets/images/06 - SAP Consulting & Development.png" alt="SAP Consulting & Development section image" />
            </div> 
            <button class="main-btn main-btn--black">Mehr Efrahren</button>
          </div>
        </div>
        
      <div class="swiper-pagination"></div>
      </div> 
