<section class="text-module text-module--left">
  <div class="container">
    <div class="text-module__wrapper">
      <p class="paragraph-plain">Wir vereinen die</p>
      <h2 class="h2">
        Expertise unterschiedlicher Dienstleister – full-thinking.
      </h2>
      <p class="paragraph-plain">
        Wir denken mit und zu Ende – business-driven. Egal ob Website, Software,
        Social Media oder Video – implementation-ready!
      </p>
      <button class="main-btn main-btn--black">Unsere Leistungen</button>
    </div>
  </div>
</section>
