<section class="year-slider bg-black">
  <div class="container">
    <div class="year-slider__slider">
      <div
        class="year-slider__slider-content swiper-container"
        id="year-swiper"
      >
        <div class="swiper-wrapper">
          <!-- slides initialization at main.js, initializeYearSlider() -->
          <div class="swiper-slide">
            <!-- TO DO: store year in value attr -->
            <input type="hidden" class="year-slider__year" value="2001">
            <div class="img-responsive">
              <img
                src="../../assets/images/placeholders/placeholder.jpg"
                alt="Blogpost slider placeholder"
              />
            </div>
            <div class="year-slider__blogpost-content">
              <div class="blog-preferences__blogpost-tags">
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
              </div>
              <a href="#" class="blog-preferences__blogpost-headline"
                ><h2 class="h2">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                </h2></a
              >
              <p class="blog-preferences__blogpost-preview">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut.
              </p>
              <p class="blog-preferences__meta-data">
                00. September 2020 - Autor Name
              </p>
            </div>
          </div>
          <div class="swiper-slide">
              <!-- TO DO: store year in value attr -->
              <input type="hidden" class="year-slider__year" value="2004">
            <div class="img-responsive">
              <img
                src="../../assets/images/placeholders/placeholder.jpg"
                alt="Blogpost slider placeholder"
              />
            </div>
            <div class="year-slider__blogpost-content">
              <div class="blog-preferences__blogpost-tags">
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
              </div>
              <a href="#" class="blog-preferences__blogpost-headline"
                ><h2 class="h2">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                </h2></a
              >
              <p class="blog-preferences__blogpost-preview">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut.
              </p>
              <p class="blog-preferences__meta-data">
                00. September 2020 - Autor Name
              </p>
            </div>
          </div>
          <div class="swiper-slide">
              <!-- TO DO: store year in value attr -->
              <input type="hidden" class="year-slider__year" value="2005">
            <div class="img-responsive">
              <img
                src="../../assets/images/placeholders/placeholder.jpg"
                alt="Blogpost slider placeholder"
              />
            </div>
            <div class="year-slider__blogpost-content">
              <div class="blog-preferences__blogpost-tags">
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
                <a href="" class="blog-preferences__blogpost-tag"
                  >#hashtag</a
                >
              </div>
              <a href="#" class="blog-preferences__blogpost-headline"
                ><h2 class="h2">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                </h2></a
              >
              <p class="blog-preferences__blogpost-preview">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut.
              </p>
              <p class="blog-preferences__meta-data">
                00. September 2020 - Autor Name
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <!-- TO DO: store year in value attr -->
            <input type="hidden" class="year-slider__year" value="2007">
          <div class="img-responsive">
            <img
              src="../../assets/images/placeholders/placeholder.jpg"
              alt="Blogpost slider placeholder"
            />
          </div>
          <div class="year-slider__blogpost-content">
            <div class="blog-preferences__blogpost-tags">
              <a href="" class="blog-preferences__blogpost-tag"
                >#hashtag</a
              >
              <a href="" class="blog-preferences__blogpost-tag"
                >#hashtag</a
              >
              <a href="" class="blog-preferences__blogpost-tag"
                >#hashtag</a
              >
              <a href="" class="blog-preferences__blogpost-tag"
                >#hashtag</a
              >
            </div>
            <a href="#" class="blog-preferences__blogpost-headline"
              ><h2 class="h2">
                Lorem ipsum dolor sit amet consectetur adipiscing elit
              </h2></a
            >
            <p class="blog-preferences__blogpost-preview">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut.
            </p>
            <p class="blog-preferences__meta-data">
              00. September 2020 - Autor Name
            </p>
          </div>
        </div>
        </div>
      </div>
      <div class="year-slider__slider-controls">
        <button
          class="year-slider__slider-btn main-btn prev accent-active-item"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
            <g
              id="Icon/navigation/chevron-right"
              fill-rule="evenodd"
              stroke="none"
              stroke-width="1"
            >
              <path
                id="Path"
                d="M9 9l3.26-3L25 18 12.26 30 9 27l9.6-9z"
                transform="matrix(-1 0 0 1 34 0)"
              />
            </g>
          </svg>
        </button>
        <button
          class="year-slider__slider-btn main-btn next accent-active-item"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
            <g
              id="Icon/navigation/chevron-left"
              fill-rule="evenodd"
              stroke="none"
              stroke-width="1"
            >
              <path id="Path" d="M11 9l3.26-3L27 18 14.26 30 11 27l9.6-9z" />
            </g>
          </svg>
        </button>
      </div>
    </div>
    <div class="year-slider__timeline">
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      >
        <div
          class="year-slider__timeline-year year-slider__timeline-year--prev"
        >
          2000
        </div>
      </div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div class="year-slider__timeline-line"></div>
      <div class="year-slider__timeline-line"></div>
      <div class="year-slider__timeline-line"></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--m"
      ></div>
      <div class="year-slider__timeline-line year-slider__timeline-line--l">
        <div
          class="year-slider__timeline-year year-slider__timeline-year--current"
        >
          2004
        </div>
      </div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--m"
      ></div>
      <div class="year-slider__timeline-line"></div>
      <div class="year-slider__timeline-line"></div>
      <div class="year-slider__timeline-line"></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      >
        <div
          class="year-slider__timeline-year year-slider__timeline-year--next"
        >
          2004
        </div>
      </div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
      <div
        class="year-slider__timeline-line year-slider__timeline-line--hidden"
      ></div>
    </div>
  </div>
</section>
