<section class="perks-section">
  <div class="container">
    <h2 class="h2">Display 3</h2>
    <div class="perks-section__list">
      <div class="perks-section__list-item">
        <div class="perks-section__list-item-img img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blog image"
          />
        </div>
        <p class="perks-section__list-item-text">
          Duis aute irure reprehenderit in voluptate dolor in dolore eu
        </p>
      </div>
      <div class="perks-section__list-item">
        <div class="perks-section__list-item-img img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blog image"
          />
        </div>
        <p class="perks-section__list-item-text">
          Duis aute irure reprehenderit in voluptate dolor in dolore eu
        </p>
      </div>
      <div class="perks-section__list-item">
        <div class="perks-section__list-item-img img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blog image"
          />
        </div>
        <p class="perks-section__list-item-text">
          Duis aute irure reprehenderit in voluptate dolor in dolore eu
        </p>
      </div>
      <div class="perks-section__list-item">
        <div class="perks-section__list-item-img img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blog image"
          />
        </div>
        <p class="perks-section__list-item-text">
          Duis aute irure reprehenderit in voluptate dolor in dolore eu
        </p>
      </div>
      <div class="perks-section__list-item">
        <div class="perks-section__list-item-img img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blog image"
          />
        </div>
        <p class="perks-section__list-item-text">
          Duis aute irure reprehenderit in voluptate dolor in dolore eu
        </p>
      </div>
      <div class="perks-section__list-item">
        <div class="perks-section__list-item-img img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blog image"
          />
        </div>
        <p class="perks-section__list-item-text">
          Duis aute irure reprehenderit in voluptate dolor in dolore eu
        </p>
      </div>
    </div>
  </div>
</section>
