<section class="business-segments-detail">
  <div class="container">
    <div class="business-segments-detail__content">
      <button class="back-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
          <g
            id="Icon/navigation/chevron-right"
            fill-rule="evenodd"
            stroke="none"
            stroke-width="1"
          >
            <path
              id="Path"
              d="M9 9l3.26-3L25 18 12.26 30 9 27l9.6-9z"
              transform="matrix(-1 0 0 1 34 0)"
            />
          </g>
        </svg>
        <div class="back-btn__text">Zurück</div>
      </button>
      <h1 class="h1">
        <span class="text-bold">SAP Consulting &</span>
        Development
      </h1>
      <p class="paragraph-bolditalic">
        Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        nostrud exercitation ullamco ut aliquip ex consequat.
      </p>
      
      <div class="business-segments-detail__tags">
        <a href="#" class="business-segments-detail__tag">#hashtag</a>
        <a href="#" class="business-segments-detail__tag">#hashtag</a>
        <a href="#" class="business-segments-detail__tag">#hashtag</a>
      </div>
    </div>
    <div class="img-wrapper-stretch">
      <img
        src="../../assets/images/01 - Consulting & Innovation.png"
        alt="Segments image"
      />
    </div>
  </div>
</section>
