<section class="services-module">
  <div class="container">
    <h2 class="h2">Unsere Leistungen im Detail</h2>
    <div class="services-module__content">
      <div class="services-module__item services-module__item--50">
        <span class="services-module__item-title"> SAP HCM On-Premise </span>
        <p class="plain-text">
          Wir implementierung und beraten bei Ihrem SAP HCM On-Premise Projekt.
        </p>
        <button type="button" class="main-btn">Mehr erfahren</button>
      </div>
      <div class="services-module__item services-module__item--50">
        <span class="services-module__item-title"> SAP HCM On-Premise </span>
        <p class="plain-text">
          Wir implementierung und beraten bei Ihrem SAP HCM On-Premise Projekt.
        </p>
        <button type="button" class="main-btn">Mehr erfahren</button>
      </div>
      <div class="services-module__item services-module__item--30">
        <span class="services-module__item-title"> SAP HCM On-Premise </span>
        <p class="plain-text">
          Wir implementierung und beraten bei Ihrem SAP HCM On-Premise Projekt.
        </p>
        <button type="button" class="main-btn">Mehr erfahren</button>
      </div>
      <div class="services-module__item services-module__item--30">
        <span class="services-module__item-title"> SAP HCM On-Premise </span>
        <p class="plain-text">
          Wir implementierung und beraten bei Ihrem SAP HCM On-Premise Projekt.
        </p>
        <button type="button" class="main-btn">Mehr erfahren</button>
      </div>
      <div class="services-module__item services-module__item--30">
        <span class="services-module__item-title"> SAP HCM On-Premise </span>
        <p class="plain-text">
          Wir implementierung und beraten bei Ihrem SAP HCM On-Premise Projekt.
        </p>
        <button type="button" class="main-btn">Mehr erfahren</button>
      </div>
    </div>
  </div>
</section>
