<section class="blog-preferences">
  <div class="container">
    <div class="blog-preferences__highlighted-blogpost">
      <div class="img-wrapper-stretch">
        <img
          src="../../assets/images/placeholders/placeholder.jpg"
          alt="blogpost image preview"
        />
      </div>
      <div class="blog-preferences__blogpost-tags">
        <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
        <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
        <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
        <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
      </div>
      <a href="#" class="blog-preferences__blogpost-headline"
        ><h2 class="h2">
          Lorem ipsum dolor sit amet consectetur adipiscing elit
        </h2></a
      >
      <p class="blog-preferences__blogpost-preview">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut.
      </p>
      <p class="blog-preferences__meta-data">00. September 2020 - Autor Name</p>
    </div>
    <div class="blog-preferences__blogpost-list">
      <div class="blog-preferences__blogpost-item">
        <div class="img-wrapper-stretch">
          <img
            src="/src/assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blog-preferences__blogpost-item-data">
          <div class="blog-preferences__blogpost-tags">
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
          </div>
          <a href="#" class="blog-preferences__blogpost-headline"
            ><h6 class="h6">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h6></a
          >
          <p class="blog-preferences__meta-data">
            00. September 2020 - Autor Name
          </p>
        </div>
      </div>
      <div class="blog-preferences__blogpost-item">
        <div class="img-wrapper-stretch">
          <img
            src="/src/assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blog-preferences__blogpost-item-data">
          <div class="blog-preferences__blogpost-tags">
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
          </div>
          <a href="#" class="blog-preferences__blogpost-headline"
            ><h6 class="h6">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h6></a
          >
          <p class="blog-preferences__meta-data">
            00. September 2020 - Autor Name
          </p>
        </div>
      </div>
      <div class="blog-preferences__blogpost-item">
        <div class="img-wrapper-stretch">
          <img
            src="/src/assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blog-preferences__blogpost-item-data">
          <div class="blog-preferences__blogpost-tags">
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
          </div>
          <a href="#" class="blog-preferences__blogpost-headline"
            ><h6 class="h6">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h6></a
          >
          <p class="blog-preferences__meta-data">
            00. September 2020 - Autor Name
          </p>
        </div>
      </div>
      <div class="blog-preferences__blogpost-item">
        <div class="img-wrapper-stretch">
          <img
            src="/src/assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blog-preferences__blogpost-item-data">
          <div class="blog-preferences__blogpost-tags">
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
          </div>
          <a href="#" class="blog-preferences__blogpost-headline"
            ><h6 class="h6">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h6></a
          >
          <p class="blog-preferences__meta-data">
            00. September 2020 - Autor Name
          </p>
        </div>
      </div>
      <div class="blog-preferences__blogpost-item">
        <div class="img-wrapper-stretch">
          <img
            src="/src/assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blog-preferences__blogpost-item-data">
          <div class="blog-preferences__blogpost-tags">
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
          </div>
          <a href="#" class="blog-preferences__blogpost-headline"
            ><h6 class="h6">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h6></a
          >
          <p class="blog-preferences__meta-data">
            00. September 2020 - Autor Name
          </p>
        </div>
      </div>
      <div class="blog-preferences__blogpost-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blog-preferences__blogpost-item-data">
          <div class="blog-preferences__blogpost-tags">
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
          </div>
          <a href="#" class="blog-preferences__blogpost-headline"
            ><h6 class="h6">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h6></a
          >
          <p class="blog-preferences__meta-data">
            00. September 2020 - Autor Name
          </p>
        </div>
      </div>
      <div class="blog-preferences__blogpost-item">
        <div class="img-wrapper-stretch">
          <img
            src="../../assets/images/placeholders/placeholder.jpg"
            alt="blogpost image preview"
          />
        </div>
        <div class="blog-preferences__blogpost-item-data">
          <div class="blog-preferences__blogpost-tags">
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
            <a href="" class="blog-preferences__blogpost-tag">#hashtag</a>
          </div>
          <a href="#" class="blog-preferences__blogpost-headline"
            ><h6 class="h6">
              Lorem ipsum dolor sit amet consectetur adipiscing elit
            </h6></a
          >
          <p class="blog-preferences__meta-data">
            00. September 2020 - Autor Name
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
