<section class="faq">
  <div class="container">
    <h2 class="h2">FAQ section</h2>
    <div class="faq__list">
      <div class="faq__list-item">
        <button class="faq__btn">
          <span class="faq__btn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </span></button>
        <p class="paragraph-plain">Answer</p>
      </div>
      <div class="faq__list-item">
        <button class="faq__btn">
          <span class="faq__btn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </span></button>
        <p class="paragraph-plain">Answer</p>
      </div>
      <div class="faq__list-item">
        <button class="faq__btn">
          <span class="faq__btn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </span></button>
        <p class="paragraph-plain">Answer</p>
      </div>
      <div class="faq__list-item">
        <button class="faq__btn">
          <span class="faq__btn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </span></button>
        <p class="paragraph-plain">Answer</p>
      </div>
      <div class="faq__list-item">
        <button class="faq__btn">
          <span class="faq__btn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </span></button>
        <p class="paragraph-plain">Answer</p>
      </div>
      <div class="faq__list-item">
        <button class="faq__btn">
          <span class="faq__btn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </span></button>
        <p class="paragraph-plain">Answer</p>
      </div>
      <div class="faq__list-item">
        <button class="faq__btn">
          <span class="faq__btn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </span></button>
        <p class="paragraph-plain">Answer</p>
      </div>
      <div class="faq__list-item">
        <button class="faq__btn">
          <span class="faq__btn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </span></button>
        <p class="paragraph-plain">Answer</p>
      </div>
      <div class="faq__list-item">
        <button class="faq__btn">
          <span class="faq__btn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </span></button>
        <p class="paragraph-plain">Answer</p>
      </div>
      <div class="faq__list-item">
        <button class="faq__btn">
          <span class="faq__btn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </span></button>
        <p class="paragraph-plain">Answer</p>
      </div>
    </div>
    <button type="button" class="faq__cta link-cta text-dark show-more-btn">Mehr anzeigen</a>
  </div>
</section>
