<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    /> 
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head> 
  <body>
    <%= require('html-loader!../components/navbar/navbar.html').default %> 
    <main>
      <%= require('html-loader!../components/media-header/media-header.html').default %> 
      <%= require('html-loader!../components/text-module/text-module.html').default %>  
      <%= require('html-loader!../components/gallery-slider/gallery-slider.html').default %> 
      <%= require('html-loader!../components/text-module/text-module.html').default %>   
      <%= require('html-loader!../components/blog-teaser/blog-teaser.html').default %>   
      <%= require('html-loader!../components/text-module/text-module.html').default %> 
      <%= require('html-loader!../components/logo-wall/logo-wall.html').default %> 
      <%= require('html-loader!../components/jobs/jobs.html').default %> 
    </main>
    <%= require('html-loader!../components/footer/footer.html').default %> 
  </body>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</html>
