<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    /> 
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head> 
  <body>
    <%= require('html-loader!../components/navbar/navbar.html').default %> 
    <main>
      <%= require('html-loader!../components/hero-section/hero-section.html').default %>
      <%= require('html-loader!../components/perks-section/perks-section.html').default %> 
      <%= require('html-loader!../components/blogpost-detailed-total-overview/blogpost-detailed-total-overview.html').default %>
      <%= require('html-loader!../components/jobs/jobs.html').default %> 
      <%=
      require('html-loader!../components/logo-wall-reference/logo-wall-reference.html').default
      %>
      <%= require('html-loader!../components/team-preview-teaser/team-preview-teaser.html').default %>
      <%= require('html-loader!../components/FAQ/FAQ.html').default %>
    </main> 
    <%= require('html-loader!../components/footer/footer.html').default %> 
  </body>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</html>
