<section class="logo-wall">
  <div class="container">
    <h4 class="h4">
      Hier findest du eine kleine Auswahl unserer
      <span class="text-bold">Referenzen</span>
      aus den unterschiedlichsten Branchen:
    </h4>
    <div class="logo-wall__list">
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/allianz-logo.svg" alt="company logo" />
        </div>
      </a>
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/amazon_logo.png" alt="company logo" />
        </div>
      </a>
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/$_20.jfif" alt="company logo" />
        </div>
      </a>
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/astor.png" alt="company logo" />
        </div>
      </a>
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/Bausch_&_Lomb-Logo.wine.png" alt="company logo" />
        </div>
      </a>
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/Bosch_logo.png" alt="company logo" />
        </div>
      </a>
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/brass_logo_emp.jpg" alt="company logo" />
        </div>
      </a>
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/Cunda-logo-2016.png" alt="company logo" />
        </div>
      </a>
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/calvin-klein.2148.jpg" alt="company logo" />
        </div>
      </a>
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/2000px-Chefkoch.de-Logo.svg.png" alt="company logo" />
        </div>
      </a>
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/classictrader.png" alt="company logo" />
        </div>
      </a>
      <a href="#" target="_blank" class="logo-wall__link">
        <div class="img-wrapper-contain">
          <img src="../../assets/images/partners/2560px-Zino_Davidoff_logo.svg.png" alt="company logo" />
        </div>
      </a>
    </div>
    <a href="#" class="main-btn main-btn--black">Referenzen</a>
  </div>
</section>
