
    <section class="tags-navigation">
      <div class="container">
        <nav
          class="tag-navigation__link"
          aria-labelledby="tags navigation for blog posts"
        >
          <a href="/" class="tags-navigation__tag accent-active-item"
            >#COMPANY</a
          ><a href="/" class="tags-navigation__tag">#CREWLOVE</a
          ><a href="/" class="tags-navigation__tag">#CAMPUS</a
          ><a href="/" class="tags-navigation__tag">#COMETOGETHER</a
          ><a href="/" class="tags-navigation__tag">#TECHTALK</a>
        </nav>
        <button type="button" class="tags-navigation__search-btn  icon-btn">
          <svg width="36" height="36">
            <g
              id="Icon/interaction/search"
              fill-rule="evenodd"
              stroke="none"
              stroke-width="1"
            >
              <path
                id="Path"
                d="M30 27.65l-6.25-6.2a9.63 9.63 0 0 0 1.87-5.72c0-5.37-4.4-9.73-9.81-9.73S6 10.37 6 15.73a9.81 9.81 0 0 0 15.34 8.03L27.63 30 30 27.65zM8.88 15.73a6.9 6.9 0 0 1 6.93-6.88 6.91 6.91 0 0 1 6.93 6.88 6.9 6.9 0 0 1-6.93 6.88 6.91 6.91 0 0 1-6.93-6.88z"
              />
            </g>
          </svg>
        </button>
      </div>
    </section>